.language-bar {
    height: 10px;
    background-color: #ccc; /* Default background color */
    margin-bottom: 5px;
  }
  .language-bar-container {
    display: flex;
    flex-direction: row;
    overflow: hidden; /* Ensure overflow is hidden to prevent the progress bar from overflowing */
    height: 5px; /* Set height to match the height of the progress bar */
    margin-bottom: 5px; /* Add margin bottom to create space between the progress bar and language names */
  }
  
  .language-bar-segment {
    height: 100%; /* Ensure that the progress bar segments fill the entire height */
  }
  
  
  .language-names {
    display: flex;
    flex-wrap: wrap;
  }
  
  .language {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 5px;
  }
  
  .language-bullet {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
  }
  